.DS_Store
comment.cut
flies-eps-converted-to.pdf
fly-eps-converted-to.pdf
rosette-eps-converted-to.pdf
step1.pdf
.Rproj.user
step3/step3.pdf
step3/step3.tex
step2/step2.pdf
step2/step2.tex
step5/step5.bbl
step5/step5.log
step5/step5.synctex.gz
step5/step5.tex
step5/step5_files/*
step5/step5.pdf
